@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

nav {
  margin-top: 20px;
  width: 800px;
  border-bottom: 2px solid black;
} 

nav h1 {
  font-size: 90px;
  font-family: 'Dancing Script', cursive;
}

.green {
  color: greenyellow;
}

.blue {
  color: aqua;
}

.fa-pepper-hot {
  color: red;
}

.fa-pizza-slice {
  color: burlywood;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search-text {
  font-family: 'Libre Franklin', sans-serif;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
  font-size: 30px;
}

#search-text:focus {
  outline:none;
}


.search-btn {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 10px;
  font-size: 20px;
  background: none;
  border: none;
  border-radius: 4px;
  transition: width 1s ease-in-out;
  transition: font-size 0.2s ease-in-out;
  transition: transform scale(0.5, 0.5) 0.3s ease-in-out;
}

.search-btn:hover {
  font-size: 35px;
  color: aqua;
}

.search-btn:active {
  transform: scale(0.98);
  font-size: 35px;
  color: aqua;
}


