@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: 'Libre Franklin', sans-serif;
  text-align: center;
}

nav {
  margin: 0px;
  width: 800px;
  border-bottom: 2px solid black;
} 

nav h1 {
  /* font-size: 90px; */
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
}

nav h1::after {
  transition: font-size 1s ease-in;
  font-size: 50px;
}

.green {
  color: greenyellow;
}

.blue {
  color: aqua;
}

.fa-pepper-hot {
  color: red;
}

.fa-pizza-slice {
  color: burlywood;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 50vh; */
  height: 10vh;
}

.container::after {
  transition: height 1s ease-in;
  height: 5vh;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


#search-text {
  font-family: 'Libre Franklin', sans-serif;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
  /* font-size: 30px; */
  font-size: 18px;
}

#search-text::after {
  font-size: 18px;
}

#search-text:focus {
  outline:none;
}


.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
  font-size: 20px;
  background: none;
  border: none;
  border-radius: 4px;
  transition: width 1s ease-in-out;
  transition: font-size 0.2s ease-in-out;
  transition: transform scale(0.5, 0.5) 0.3s ease-in-out;
}

.search-btn:hover {
  font-size: 35px;
  color: aqua;
}

.search-btn:active {
  transform: scale(0.98);
  font-size: 35px;
  color: aqua;
}

.card-list {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}


.card {
  color: black;
  height: 500px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: whitesmoke;
  box-shadow: -1rem 0 1rem rgb(179, 179, 179);
  display: flex;
  flex-direction: column;
  transition: .2s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
  overflow:hidden;
  font-family: 'Libre Franklin', sans-serif;
}

.card:focus-within~.card, .card:hover~.card {
  transform: translateX(130px);
}

.card:hover {
  transform: translateY(-1rem);
}

.card:not(:first-child) {
  margin-left: -130px;
}


.card-header {
  margin-bottom: auto;
}

.card-header p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: #7a7a8c;
}

.card-header h2 {
  font-size: 20px;
  margin: .25rem 0 auto;
  text-decoration: none;
  color: inherit;
  border: 0;
  display: inline-block;
  cursor: pointer;
}

.card-header h2:hover {
  background: linear-gradient(90deg,#ff8a00,#e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.card img {
margin-top: 10px;
border-radius: 10px;
}


